
tmp/
RCS/
CVS/
synopsys_cache*/
simv.daidir/
csrc/

INCA_libs/
netlist/
report/
sdf/
spf/
.simvision/
waves.shm/

*.zip
*.tar
*.Z
*.gz
*.bz2
*.lzma
*.xz
*.lzo

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

#
cds.lib
hdl.var
.nclaunch.dd
nclaunch.key
verilog.key
vcs.key
default.svf
.sourceControl
ncverilog.key
*.log
*.bak
*.orig
*~
\#*#
*.sdf.X

xise/
